header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(grey 0%, rgb(61, 61, 61) 50%, grey 100%);
    box-shadow: 0px 10px 10px blue;
    border-radius: 10px;
    padding-inline: 10px;
}
li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: gold;
    font-size: 18px;
    font: bold;
    text-decoration: underline;
}
nav ul li a {
    text-decoration: none;
    color: gold;
}