header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: gold;
    text-decoration: underline;
}