.itemdetail{
    display: Flex;
    flex-direction: column;
    align-items: start;
}
.itemdetail button{
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}